---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '\.xml$'
      - id: check-yaml
      - id: check-xml
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # - repo: https://github.com/homebysix/pre-commit-macadmin
  #   rev: v1.19.0
  #   hooks:
  #     - id: check-autopkg-recipes
  #       args: [--recipe-prefix=com.github.smithjw-actions., --strict, --]
  #     - id: forbid-autopkg-overrides
  #     - id: forbid-autopkg-trust-info

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [--format, parsable, -c=.yamllint, --strict]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-jsonschema
        files: ^.*\.recipe\.yaml$
        exclude: '^_templates/.*$|^_archived/.*$|SharedProcessors\.recipe.*$'
        args: ['--schemafile', 'smithjw-autopkg-recipe.schema.json']
